<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Techiquillas</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="css/css-circular-prog-bar.css">


</head>
<body>
<div class="">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            Raksha
          </span>
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="module1.html"> Module </a>
                </li>

              
              </ul>
            </div>
        </nav>
      </div>
    </header>

  </div>
  <!-- end header section -->

   <!-- admission section -->
    <section class=""  data-aos="zoom-out-down" data-aos-duration="4000">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="">
                <h1 class="fw-bold display-3">Practical Assessment</h1 >
                <ol>
                  <li>1. Watch the video again before proceeding.</li>
                  <li>2. Turn on your camera and practice.</li>
                  <li>3. You will be given a score based on the accuracy of your actions.</li>
                </ol>
                <br>
                <div class="row">
                    
                    <div class="col-md-9">
                    <h4 class="my-4 mt-3 fw-bold">Ready Stance</h4>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfMu5xRrrAenu5bzKxSr7pgJzY5b-u5s44Zg&usqp=CAU" alt="Mountains" class="img-fluid"                      >
                        <form action="/pose" method="GET">
                        <button type="submit" id="quiz" class="mt-4 border-0 btn-style" name="detect" value="Ready Stance">Practice</button>
                        </form>
                  
                    
                  </div>
                  </div>
                <div class="row">
                    
                    <div class="col-md-9" data-aos="slide-up" data-aos-duration="4000">
                        <h4 class="my-4 mt-3 fw-bold"> Hammmer Strike</h4>
                        <img class="images" src="./images/hammer.jpg" alt="Snow" class="img-fluid w-100">
                        <form action="/pose" method="GET">
                          <button type="submit" id="quiz" class="mt-4 btn-style border-0" name="detect" value="Hammer Strike">Practice</button>
                        </form>
                    </div>
               </div>
                <div class="row">
                    <div class="col-md-9">
                        <h4 class="my-4 mt-3 fw-bold"> Groin Kick</h4>
                        <img src="./images/groin.jpg" alt="Mountains"
                          class="img-fluid">
                          <form action="/pose" method="GET">
                          <button type="submit" id="quiz" name="detect" class="mt-3 border-0 btn-style" value="Groin Kick">Practice</button>
                          </form>
                      </div>
                    </div>
                </div>
                                  
                <hr>
                <h2 class="title">Lesson-2</h2>
                <div class="row" data-aos="zoom-out-up" data-aos-duration="4000">
                    <div class="col-md-6">
                        <h3 style="font-size: 20px;"><b>Objective:</b>Increasing the Challenge</h3>
                        <p>
                            <h3 class="fw-bold-text"><u>Elbow Strike</u></h3>
                            An elbow strike (commonly referred to as simply an "elbow") is a strike with the point of the elbow,
                            the part of the forearm nearest to the elbow, or the part of the upper arm nearest to the elbow.
                            Elbows can be thrown sideways similarly to a hook, upwards similarly to an uppercut, downwards with the
                            point of the elbow, diagonally or in direct movement and in several other ways, like during a jump. Elbow
                            strikes are native to the traditional Southeast Asian martial arts, traditional Chinese martial arts and
                            traditional Okinawan martial arts.
                            Watch this video and learn more about this technique...<br/><br/>
                            </p>
                    </div>
                    <div class="col-md-6">
                        <center><embed style="width: 500px; height: 450px;" src="https://www.youtube.com/embed/u8C91KVoAac"> </embed></center>
                    </div>
                </div>
                      <div class="row" >
                          <div class="col-md-6">
                            <b>Watch this video and learn more about this technique...</b><br/><br/>
                            <embed style=" width: 500px; height: 450px;" src="https://www.youtube.com/embed/UkofgDcwaH0">
                            </embed><br><br>
                          </div>
                          <div class="col-md-6">
 
                            <h3 class="mt-4 my-5 fw-bold-text"><u>ESCAPE BEAR HUG ATTACK</u></h3>
                            The bear hug technique is extremely dangerous simply because it’s so widely used by attackers everywhere.
              
                            <p>
                              It assumes they grab you from behind when you least expect it,
                              with minimal chance of you seeing them. This gives your attacker the element of surprise.
              
                            </p>
                          </div>
                      </div>  
                 
               
               <div class="">
                    <a href="./Heal.html" class="btn-style m-3">
                      Next
                    </a>
        </div>
      </div>
    </section>



    <!-- end admission section -->


  </div>

  <!-- info section -->
    <!-- end contact section -->
    <section class="info_section layout_padding-top">
      <div class="info_logo-box">
        <h2>
            Raksha
        </h2>
      </div>
      
        </div>
       
      </section>

<!-- footer section -->
<section class="container-fluid footer_section">
  <p>
    
   
  </p>
</section>
<!-- footer section -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>


</body>

</html>
